:root {
    --bgColor: rgb(29, 22, 22);
    --bgColor2: rgb(142, 22, 22);
    --bgColor3: rgb(70, 17, 17);
    --txtColor: rgb(238, 238, 238);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(16, 12, 12);
}

header {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 70px;
    background-color: var(--bgColor);
    color: var(--txtColor);
    position: sticky;
    top: 0;
    font-size: clamp(10px, 1.5vw, 16px);
    transition: all .15s ease-out;
}

header img {
    width: 60px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 0 0 rgb(8, 8, 8);
}


.header-hide {
    transform: translateY(-70px);
}

.header-show {
    transform: translateY(0px);
}




/*?   NAWIGACJA PC   */

/*.bg-nav-color {
    position:fixed;
    height:100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}*/

.nav-pc {
    width: 75px;
    height: calc(100dvh - 70px);
    background-color: var(--bgColor);
    position: fixed;
    top: 70px;
    left: 0;
    transition: all .15s;
    z-index: 2
}

.nav-pc span {
    left: 70px;
    display: none;
}

.nav-pc ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 20px 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: calc(63px / 3.75);

}


.nav-pc ul li:nth-child(6) {
    margin-top: max(2vh, 10vh);
}

.nav-pc ul li:last-child {
    margin-top: auto;
}


.nav-pc ul li a,
.nav-pc ul li:last-child {
    color: var(--txtColor);
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    gap: 20px;
}


.nav-pc ul li a {
    transition: all 0.15s;
    transition-delay: .02s;
    padding: 6px;
    box-sizing: content-box;
    border-radius: .75rem;

}

.nav-pc ul li a:hover {
    background-color: var(--bgColor3);
}

.nav-open {
    width: 225px;

    span {
        display: inline;
    }

    >ul>li>a {
        min-width: 190px;
    }
}

.closeArrow {
    cursor: pointer;
    transition: all 0.15s;
    width: 40px;
    display: inline;
    margin: 0;
    transform: rotate(0deg);
}

.rotate-arrow {
    transform: rotate(180deg);
}

/*?   NAWIGACJA MOBILE   */
.nav-mobile {
    display: none;
    width: 100%;
    height: 65px;
    background-color: var(--bgColor);
    position: fixed;
    top: calc(100% - 65px);

    transition: all .15s ease-out;

}

.nav-mobile ul {
    height: 65px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    clear: both;
    overflow-y: scroll;
    overflow-y: hidden;
}

.nav-mobile ul li {
    box-sizing: content-box;
    margin: 0 7px;
    text-align: center;
}

.nav-mobile ul li a {
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-decoration-color: var(--txtColor);
}


.nav-mobile span {
    font-size: .55rem;
    color: var(--txtColor);
}

.nav-hide {
    transform: translateY(70px)
}

.nav-show {
    transform: translateY(0)
}


/* RESZTA */


main {
    height: 2000px;
    color: var(--txtColor);
    width: calc(100dvw - 75px);
    margin-left: auto;
    background-color: rgb(16, 12, 12);

}

main {
    display: flex;

}

article {
    width: 100%;
    padding: 20px;
    background-color: rgba(7, 6, 6, 0.7);

    height: 2000px;
    text-align: center;
}

.glowna {
    width: 70%;
    background-color: rgb(16, 12, 12);

}

.aktualnosci {
    width: 30%;
    height: 1400px;
    border-left: 1px solid rgb(27, 23, 23);
    background-image: url(./source/baner.jpg);
    /*background-color:rgb(16, 12, 12);*/
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
    border-bottom-left-radius: .5rem;
    overflow-y: visible;
}


/*! GŁÓwna */

.glowna {
    text-align: left;

    > h1 {
    text-align: center;
    }
}

details{
    border:1px solid rgb(149, 127, 119);
    cursor: pointer;
}


/*? NEWS */

.news {
    height: calc(100dvh - 70px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:100%
}

.new {
    width: 95%;
    background-color: rgb(27, 23, 23);
    border-radius: .7rem;
    border: 1px solid rgb(149, 127, 119);
    text-align: left;
    padding: 15px;
}

.new>h2 {
    margin: 10px 0;
}

.new>p {
    font-size: 1.05rem;
    margin: 10px 0
}

.new ul {
    margin-left: 10px;
}

.data {
    font-size: .8rem
}

.postac-dnia{
    display: flex;
    flex-direction: column;
    gap:20px
}

.postac{
    height:auto;
    max-width:340px;
    background-color: var(--bgColor);
    margin: 0 auto;
    overflow-y: hidden;
    padding-bottom:10px;
    border:1px solid rgb(149, 127, 119);

}

.postac img {
    width:100%
}

/*? MEDIA QUERIES */

@media screen and (max-width: 650px) {

    header img {
        width: 45px;
    }

    .nav-pc {
        display: none
    }

    .nav-mobile {
        display: flex;

    }


    main {
        width: 100%;
        flex-direction: column;
    }

    .glowna,
    .aktualnosci {
        width: 100%
    }
    .aktualnosci {
        height: 2000px;
    }

    .news {
        overflow-y:unset;
        height:auto;
    }

    .postac-dnia{
        margin-bottom: 75px;
    }
    
}